/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/client
/.vscode
.phpstorm.meta.php
.htaccess
/storage
package-lock.json
_ide_*
.git.rar
/public/adminer.php
